@import '../../../config-scss/rem-calc.scss';

:host{
    form{
        justify-content: space-between;
        display: flex;
        align-items: center;

        padding: rem-calc(15) rem-calc(20);
        background-color: var(--gray);

        border-radius: rem-calc(10);
        input{
            width: 95%;
            background: none;
            border: none;

            font-size: rem-calc(20);

            &::placeholder{
                color: white;
            }
        }
    }
}