@import "./config-scss/variables.scss";
@import "./config-scss/reset.scss";
@import "./config-scss/rem-calc.scss";
@import "./config-scss/btn.scss";
@import "./config-scss/animation.scss";

html {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #f57c00, #ffeb3b, #66bb6a);
  transition: background 0.3s ease;
}

html.dark-theme {
  background: linear-gradient(135deg, var(--strong-purple), #2a2a2a);
}

main {
  width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;
  transition: color 0.3s ease, background-color 0.3s ease;
  color: var(--black); // texto escuro no tema claro
}

html.dark-theme main {
  color: var(--white); // texto claro no dark theme
}
